*.sln
*.so
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
.vs/
.vscode/
CMakeCache.txt
CMakeFiles/
CMakeLists.txt.user
CMakeScripts
CTestTestfile.cmake
Makefile
build/

cmake_install.cmake
main
pipenetwork_testrunner
/result
/result-*
